/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#background {
  width: 500px;
  background-image: url(../img/sfondo.png);
  margin: 0 auto;
}

code {
  background-color: lightgray;
  border-radius: 0.3em;
  border: 1px solid gray;
}

/* HEADER */

header {
  background: linear-gradient(#1ea5c6, #076d88 45%);
  text-align: center;
  width: 90%;
  border: none;
  margin: 25px auto;
  color: white;
  padding: 30px 0;
  box-shadow: 0px 5px 8px black;
}

header > img {
  width: 65%;
  padding-bottom: 30px;
}

header a {
  text-decoration: none;
  color: white;
  margin-top: 0;
}

header h4 {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

header > h4 {
  margin-bottom: 20px;
}

header div {
  margin: -10px;
}

#titolo {
  margin-bottom: 30px;
}

/* MAIN */

main {
  background-color: white;
  width: 90%;
  border: none;
  margin: 25px auto;
  box-shadow: 0px 5px 8px black;
  padding: 50px 25px 50px 20px;
  box-sizing: border-box;
}

/* ELEMENTI NEL MAIN - ARTICLE */
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -1px;
}

#crediti {
  color: rgb(162, 162, 162);
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.4em;
}

main p b {
  font-weight: 500;
  color: darkred;
}

.paragrafo {
  letter-spacing: 0.5px;
  font-size: 1.3em;
  line-height: 1.4em;
  font-weight: 300;
  padding-top: 25px;
}
/* TABELLE */

caption {
  font-style: italic;
  font-weight: 500;
  font-size: 1.3em;
  margin-top: 30px;
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-bottom: 3px solid #5b82d0;
}

th {
  background-color: #5b82d0;
  font-size: 1.3em;
  padding: 25px 25px;
  border-left: 1px solid white;
}

td {
  font-size: 1.3em;
  padding: 25px 25px;
  text-align: center;
}

.riga-grigia {
  background-color: rgb(236, 234, 234);
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

iframe {
  width: 100%;
  height: 230px;
  border-radius: 2em;
  margin-top: 15px;
}

/* FORM */

#novità {
  background-color: lightgray;
  padding: 20px 10px 10px 10px;
  margin-top: 50px;
}

form {
  width: 100%;
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px dashed;
  width: 75%;
  height: 40px;
}

button {
  background-color: #5b82d0;
  border: none;
  color: white;
  height: 40px;
}

#titolo-correlati {
  margin-top: 50px;
}

.correlati {
  background-color: rgb(229, 228, 228);
  border: 2px solid lightgray;
  padding: 20px;
  margin-top: 30px;
}

.correlati a {
  font-size: 1.3em;
}

.correlati p {
  padding-top: 5px;
}

.correlati i {
  margin-right: 5px;
}

.data {
  text-align: end;
  margin-top: 20px;
  font-size: 1em;
  font-weight: 300;
}

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

footer {
  background: linear-gradient(#076d88, #022d38 80%);
  color: white;
  text-align: center;
  width: 90%;
  border: none;
  margin: 25px auto;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 5px 8px black;
}

footer p {
  font-size: 1.1em;
  padding-top: 0;
  padding-bottom: 15px;
}

footer a {
  color: fuchsia;
}
